.team
  background: url('../img/bg/team-bg.png') center center / cover no-repeat
  display: flex
  justify-content: flex-end

.team__container
  display: flex
  flex-direction: column
  padding: 70px 100px
  opacity: 0.93
  background: rgb(40, 40, 40)
  width: 50%
  position: absolute
  @media screen and (max-width: $laptops)
    padding: 200px 0 0 0
    width: 100%
    text-align: center

.team__members
  margin-top: 12px
  text-align: left
  @media screen and (max-width: $laptops)
    text-align: center

.member__card
  margin-top: 5px
  color: #fff

.member__name 
  display: inline-block
  cursor: pointer
  margin-left: 7px
  margin-bottom: 25px
  @media screen and (max-width: $laptops)
    font-size: 24px

.member__photo
  background: url('../img/people/aphex.png') center center / cover no-repeat
  height: 100px
  width: 100px
  flex: none
  border-radius: 50%
  margin-right: 6%
  @media screen and (max-width: $laptops)
    margin: 0

.member__details
  display: flex
  position: relative
  left: 17px
  bottom: 10px
  height: 0
  overflow: hidden
  @media screen and (max-width: $laptops)
    flex-direction: column
    align-items: center

.member__disc
  display: flex
  flex-direction: column
  justify-content: space-around
  font-size: 14px
  max-width: 210px
  line-height: 1.6
  margin-bottom: 20px
  b
    margin-bottom: 15px


.unscroll
  .member__name
    color: $yellow
  .polygon
    transform: rotate(180deg)
  .member__details
    height: 100%