@import url(setups/normalize.css);
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype"), url("../fonts/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype"), url("../fonts/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu.eot");
  src: url("../fonts/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff"), url("../fonts/Ubuntu.ttf") format("truetype"), url("../fonts/Ubuntu.svg#Ubuntu") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype"), url("../fonts/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.eot");
  src: url("../fonts/Gagalin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff"), url("../fonts/Gagalin-Regular.ttf") format("truetype"), url("../fonts/Gagalin-Regular.svg#Gagalin-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lifehack";
  src: url("../fonts/Lifehack-Medium.eot");
  src: url("../fonts/Lifehack-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff"), url("../fonts/Lifehack-Medium.ttf") format("truetype"), url("../fonts/Lifehack-Medium.svg#Lifehack-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
html,
body {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-family: "Ubuntu";
  font-weight: 300;
  color: #2f3234;
  letter-spacing: -0.6px; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 650px; }
  @media screen and (max-width: 768px) {
    .section {
      height: 100%;
      height: 1024px; } }

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 40px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  font-family: "Gagalin", regular; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul > li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

a {
  text-decoration: none;
  font-weight: bold; }

* {
  box-sizing: border-box; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px; }

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px; }

.header__order-btn {
  margin-left: 15px; }

.menu__list {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .menu__list {
      display: none; } }

.menu__link {
  font-size: 13px;
  font-weight: 500; }

.menu__item {
  margin-right: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center; }
  .menu__item:last-child {
    margin-right: 0; }
    .menu__item:last-child:after {
      display: none; }
  .menu__item:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    margin-left: 15px; }

.menu__link {
  font-size: 13px;
  color: white;
  text-transform: uppercase; }

.down-arrow {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%); }

.menu-hamburger {
  display: none;
  width: 24px;
  height: 22px;
  fill: white; }
  @media screen and (max-width: 768px) {
    .menu-hamburger {
      display: block; } }

.hero {
  background: url("../img/bg/hero-bg.png") center center/cover no-repeat;
  position: relative; }

.hero__container {
  justify-content: flex-start; }

.hero__content {
  flex: 0.8;
  display: flex;
  align-items: center;
  margin-left: 30px;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      flex-direction: column;
      margin: 0; } }
  .hero__content-text {
    margin: 80px 0 0 10px; }
    @media screen and (max-width: 768px) {
      .hero__content-text {
        text-align: center;
        margin: 20px 0; } }

.hero__desc {
  font-size: 65px;
  font-family: "Lifehack";
  line-height: 1;
  color: white; }

.about {
  background: url("../img/bg/best-bg.png") center center/cover no-repeat; }

.about__list {
  display: flex;
  margin-top: 30px;
  justify-content: center; }
  @media screen and (max-width: 420px) {
    .about__list {
      flex-direction: column; } }

.about__item {
  justify-content: center;
  width: 30%;
  margin-right: 10px; }
  @media screen and (max-width: 420px) {
    .about__item {
      display: flex;
      width: 100%;
      align-items: center; } }
  .about__item:last-child {
    margin-right: 0; }

.about__item__desc {
  text-align: center; }
  .about__item__desc h3 {
    font-family: "Lifehack";
    font-size: 24px;
    margin-bottom: 10px;
    padding: 40px 0 10px 0; }
  .about__item__desc p {
    font-size: 14px;
    color: #2f3234; }

.about__item__pic {
  display: flex;
  margin-bottom: 0px;
  justify-content: center; }

.review {
  position: relative;
  filter: grayscale(100%); }
  .review:hover .review__hover {
    opacity: 1; }

.review__avatar {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.review__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.61);
  padding: 48px 10% 10px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media screen and (max-width: 768px) {
    .review__hover {
      text-align: center;
      align-items: center;
      padding: 5px 5%; } }
  @media screen and (max-width: 420px) {
    .review__hover {
      justify-content: center; } }
  .review__hover p {
    line-height: 1.8;
    padding-bottom: 15px;
    font-size: 14px; }
    @media screen and (max-width: 768px) {
      .review__hover p {
        font-size: 13px; } }
    @media screen and (max-width: 420px) {
      .review__hover p {
        display: none; } }
  .review__hover h3 {
    text-transform: uppercase;
    font-size: 14px; }

.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.read-review {
  display: none !important; }
  @media screen and (max-width: 420px) {
    .read-review {
      display: block !important;
      margin-top: 20px; } }

@media screen and (max-width: 420px) {
  .more-review {
    display: none !important; } }

.team {
  background: url("../img/bg/team-bg.png") center center/cover no-repeat;
  display: flex;
  justify-content: flex-end; }

.team__container {
  display: flex;
  flex-direction: column;
  padding: 70px 100px;
  opacity: 0.93;
  background: #282828;
  width: 50%;
  position: absolute; }
  @media screen and (max-width: 768px) {
    .team__container {
      padding: 200px 0 0 0;
      width: 100%;
      text-align: center; } }

.team__members {
  margin-top: 12px;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .team__members {
      text-align: center; } }

.member__card {
  margin-top: 5px;
  color: white; }

.member__name {
  display: inline-block;
  cursor: pointer;
  margin-left: 7px;
  margin-bottom: 25px; }
  @media screen and (max-width: 768px) {
    .member__name {
      font-size: 24px; } }

.member__photo {
  background: url("../img/people/aphex.png") center center/cover no-repeat;
  height: 100px;
  width: 100px;
  flex: none;
  border-radius: 50%;
  margin-right: 6%; }
  @media screen and (max-width: 768px) {
    .member__photo {
      margin: 0; } }

.member__details {
  display: flex;
  position: relative;
  left: 17px;
  bottom: 10px;
  height: 0;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .member__details {
      flex-direction: column;
      align-items: center; } }

.member__disc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  max-width: 210px;
  line-height: 1.6;
  margin-bottom: 20px; }
  .member__disc b {
    margin-bottom: 15px; }

.unscroll .member__name {
  color: #f9b43b; }
.unscroll .polygon {
  transform: rotate(180deg); }
.unscroll .member__details {
  height: 100%; }

.stock {
  background: url("../img/bg/menu-bg.png") center center/cover no-repeat;
  display: flex;
  justify-content: space-between;
  color: white; }
  .stock .section-title {
    margin: 105px; }
    @media screen and (max-width: 768px) {
      .stock .section-title {
        margin: 100px 20px; } }

.stock__item--meat {
  background: url("../img/bg/menu-bg1.png") center center/cover no-repeat; }

.stock__item--vegan {
  background: url("../img/bg/menu-bg2.png") center center/cover no-repeat; }

.stock__item--diet {
  background: url("../img/bg/menu-bg3.png") center center/cover no-repeat; }

.stock__item h3 {
  position: relative;
  bottom: 50px;
  margin: 0;
  color: white;
  font-size: 40px;
  transform: rotate(270deg);
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .stock__item h3 {
      font-size: 32px; } }
  @media screen and (max-width: 420px) {
    .stock__item h3 {
      font-size: 26px; } }

.stock__list {
  display: flex;
  position: absolute;
  right: 0px;
  height: 100vh;
  min-height: 650px; }
  @media screen and (max-width: 768px) {
    .stock__list {
      height: 1024px; } }

.stock__item {
  display: flex;
  max-width: 100%; }
  .stock__item p {
    display: block;
    font-size: 14px;
    width: 0px;
    overflow: hidden;
    background: rgba(47, 50, 52, 0.93);
    padding: 0; }

.stock__item--section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 80px; }
  @media screen and (max-width: 768px) {
    .stock__item--section {
      width: 60px; } }
  @media screen and (max-width: 420px) {
    .stock__item--section {
      width: 30px; } }

.active p {
  width: 100%;
  max-width: 540px;
  line-height: 1.75;
  letter-spacing: 0.1px;
  padding: 60px 5.4%; }
.active h3 {
  color: #f9b43b; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 10px 80px;
  background: url("../img/bg/footer-bg.png");
  color: white;
  font-size: 14px;
  line-height: 24px; }
  @media screen and (max-width: 420px) {
    .footer {
      flex-direction: column;
      text-align: center;
      padding: 10px 10px; } }

.footer__contacts {
  display: flex;
  flex-direction: column; }

a[href^="tel:"] {
  color: #e45028; }

address {
  font-style: normal;
  font-weight: 500; }

.social__list {
  display: flex; }

.social__item:not(:first-of-type) {
  margin-left: 20px; }

.social__icon {
  transition: 0.2s; }
  .social__icon:hover {
    fill: white; }

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px; }
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 100%;
      justify-content: center; } }

.form-order {
  padding-top: 140px;
  background: url("../img/bg/form-bg.png") center center/cover no-repeat; }

.form {
  padding: 0 10%; }
  @media screen and (max-width: 768px) {
    .form {
      padding: 0 18%; } }
  @media screen and (max-width: 420px) {
    .form {
      padding: 0 5%; } }

.first-column {
  display: grid; }
  .first-column input {
    margin-top: 5px;
    height: 35px;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding-left: 10px;
    font-size: 16px; }
  .first-column label {
    color: white; }
    .first-column label:not(:last-of-type) {
      margin-right: 10px; }
    .first-column label:not(:first-of-type) {
      margin-left: 10px; }

.first-column__first-row {
  display: grid;
  grid-template-columns: 50% 50%; }

.first-column__second-row {
  display: grid;
  grid-template-columns: 100%; }

.first-column__third-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; }

.second-column label {
  color: white; }

.second-column__second-row {
  margin: 15px 0 15px 0; }
  @media screen and (max-width: 420px) {
    .second-column__second-row {
      text-align: center; } }
  .second-column__second-row label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    border: 3px solid white; }
  .second-column__second-row label:not(:first-of-type) {
    margin-left: 20px; }
  .second-column__second-row input[type="radio"] {
    display: none; }
    .second-column__second-row input[type="radio"]:checked + label:before {
      border-color: white;
      background: #e35028; }

.second-column__third-row {
  justify-content: center; }
  .second-column__third-row label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: white;
    border: 3px solid white; }
  @media screen and (max-width: 420px) {
    .second-column__third-row {
      text-align: center; } }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + label:before {
    border-color: white;
    background: #e35028; }

textarea {
  margin-top: 5px;
  resize: none;
  width: 100%;
  height: 110px;
  border-radius: 5px;
  padding: 10px; }

.button-group {
  margin-left: 50%; }
  @media screen and (max-width: 768px) {
    .button-group {
      margin: 0; } }
  @media screen and (max-width: 420px) {
    .button-group {
      text-align: center; } }

.btn--order {
  margin-top: 20px; }

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #e45028;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  transition: 0.2s;
  border: none; }
  .btn:hover {
    cursor: pointer; }
  .btn--bg-black {
    background: #2f3234; }
    .btn--bg-black:hover {
      background: #1f2122; }
  .btn--bg-transparent {
    background: transparent;
    text-transform: none; }
  .btn--none-decor {
    background: transparent; }

.section-title {
  font-size: 72px;
  margin-bottom: 25px;
  line-height: 1;
  color: #f9b43b; }
  .section-title--color-black {
    color: #2f3234; }
  .section-title--centered {
    text-align: center; }

.fixed-menu {
  position: fixed;
  right: 4%;
  top: 10%; }

.fixed-menu__item {
  margin-bottom: 7px; }

.fixed-menu__link {
  width: 14px;
  height: 14px;
  display: block;
  position: relative; }
  .fixed-menu__link:after, .fixed-menu__link:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .fixed-menu__link:before {
    width: 0;
    height: 0;
    border: 1px solid white;
    opacity: 0;
    transition: 0.4s; }
  .fixed-menu__link:after {
    width: 6px;
    height: 6px;
    background: white; }

.fixed-menu__link:hover:before {
  width: 14px;
  height: 14px;
  opacity: 1; }
