// colors
$orange: #e45028
$yellow: #f9b43b
$black: #2f3234

// adaptive

$laptops: 768px
$phones: 420px

// setups
@import "setups/normalize.css"
@import "setups/fonts.sass"
@import "setups/layout.sass"

// blocks
@import "blocks/header.sass"
@import "blocks/hero.sass"
@import "blocks/about.sass"
@import "blocks/review.sass"
@import "blocks/team.sass"
@import "blocks/stock.sass"
@import "blocks/footer.sass"
@import "blocks/map.sass"
@import "blocks/form.sass"

// misc
@import "misc/btn.sass"
@import "misc/section-title.sass"
@import "misc/fixed-menu.sass"

