.photo {
  background: url('./cv-folder/My_photo.png') 70% 30% / 120% no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid $text_color;
}

.cv-loading {
  text-align: center;
}

span {
  background: $darkred;
  background: $red;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

#loading {
  border: 3px solid $red;
  border-radius: 5px;
  padding: 0 3px;
}
