* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  height: 50vh;
  padding: 10px 0;
}

.container-ru {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}

.container-eng {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  background: #000;
}