.about-us
  background: url(images/main/about-us/bg.png) no-repeat
  background-size: cover
  padding: 170px 0 170px 0
  text-align: center
  height: 100vh
  &__cards
    display: flex
    justify-content: space-around
    .card
      // padding: 60px
      max-width: 285px
      h3
        font-size: 24px
        margin: 40px 0 30px 0
        font-family: $subtitle-ff
      p
        font-size: 14px
        color: #999695
        line-height: 25px
        font-family: $primary-ff

.title
  color: #2f3234