$gagalin: 'Gagalin', regular
$lifehack: 'Lifehack', medium
$ubuntu: 'Ubuntu', light


//colors
$orange: #e45028
$hover-orange: #c1401e
$yellow: #f9b43b
$black: #2f3234 


@import '__normalize.sass'
@import '__header.sass'
@import '__about-us.sass'
@import '__review.sass'
@import '__buttons-links-inputs.sass'
