.about 
  background: url('../img/bg/best-bg.png') center center / cover no-repeat

.about__list 
  display: flex
  margin-top: 30px
  justify-content: center

.about__item 
  justify-content: center
  width: 30%
  margin-right: 10px

  &:last-child 
    margin-right: 0  

.about__item__desc 
  text-align: center
  h3 
    font-family: $lifehack
    font-size: 24px
    margin-bottom: 10px
    padding: 40px 0 10px 0
  p  
    font-size: 14px
    color: rgb(47, 50, 52)

.about__item__pic 
  display: flex
  margin-bottom: 0px
  justify-content: center



