.grid-container
  display: grid
  grid-template-columns: 50% 50%
  grid-gap: 20px
  @media screen and (max-width: $laptops)
    grid-template-columns: 100%
    justify-content: center
  
.form-order
  background: url('../img/bg/form-bg.png') center center / cover no-repeat
.form
  padding: 0 10%
  @media screen and (max-width: $laptops)
    padding: 0 18%
  @media screen and (max-width: $phones)
    padding: 0 5%

.first-column
  display: grid
  input
    margin-top: 5px
    height: 35px
    border-radius: 5px
    width: 100%
    border: none
    padding-left: 10px
    font-size: 16px
  label
    color: #ffffff
    &:not(:last-of-type)
      margin-right: 10px
    &:not(:first-of-type)
      margin-left: 10px
.first-column__first-row
  display: grid
  grid-template-columns: 50% 50%
.first-column__second-row
  display: grid
  grid-template-columns: 100%
.first-column__third-row
  display: grid
  grid-template-columns: 25% 25% 25% 25%

.second-column
  label
    color: #ffffff

.second-column__second-row
  margin: 15px 0 15px 0
  @media screen and (max-width: $phones)
    text-align: center
  label:before
    content: ''
    margin-right: 10px
    display: inline-block
    width: 6px
    height: 6px
    border-radius: 50%
    background: #ffffff
    border: 3px solid #fff
  label:not(:first-of-type)
    margin-left: 20px
  input[type="radio"]
    display: none
    &:checked + label:before
      border-color: #ffffff
      background: #e35028

.second-column__third-row
  justify-content: center
  label:before
    content: ''
    margin-right: 10px
    display: inline-block
    width: 6px
    height: 6px
    background: #ffffff
    border: 3px solid #fff
  @media screen and (max-width: $phones)
    text-align: center

input[type="checkbox"]
  display: none
  &:checked + label:before
    border-color: #ffffff
    background: #e35028

textarea
  margin-top: 5px
  resize: none
  width: 100%
  height: 110px
  border-radius: 5px
  padding: 10px
  @media screen and (max-width: $laptops)
    min-width: 225px

.button-group
  margin-left: 52.5%
  @media screen and (max-width: $laptops)
    margin: 0
  @media screen and (max-width: $phones)
    text-align: center

.btn--order
  margin-top: 20px