.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(10px);
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__order-btn {
  margin-left: rem(15px);
}

.menu__list {
  display: flex;
  align-items: center;
  @include laptops {
    display: none
  }
}

.logo {
  z-index: 2;
}

.menu__link {
  font-size: rem(13px);
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.menu__item {
  white-space: nowrap;
  margin-right: rem(10px);
  display: flex;
  align-items: center;
  &:last-child {
    margin-right: 0;
    &:after {
      display: none;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    margin-left: rem(15px);
  }
}

.down-arrow {
  display: block;
  width: rem(50px);
  height: rem(50px);
  position: absolute;
  bottom: rem(10px);
  left: 50%;
  transform: translateX(-50%);
  @media screen and (max-height: 625px) {
    display: none;
  }
}

.menu-hamburger {
  z-index: 2;
  display: none;
  cursor: pointer;
  @include laptops {
    display: block
  }
}


.menu__list-fullscreen {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(#2f3234, .99);
  z-index: 1;
  justify-content: center;
  align-items: center;
  .menu__item-fullscreen {
    display: flex;
    margin-bottom: 60px;
    &:last-child:after  {
        background: transparent;
    }
    &:after {
      content: '';
      position: relative;
      top: 50px;
      right: 50%;
      display: block;
      width: 5px;
      height: 5px;
      background: #fff;
      border-radius: 50%;
    }
  }
  .menu__link {
    font-size: rem(22px);
    font-weight: 400;
  }
}

.deactive {
  display: none;
}