.hero {
  background: url("../img/bg/hero-bg.png") center (center / cover) no-repeat;
  position: relative;
  padding-bottom: 100px;
}

.hero__container {
  justify-content: flex-start;
}

.hero__content {
  position: relative;
  bottom: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include laptops{
    flex-direction: column;
    margin: 0;
  }
  &-text {
    margin: rem(40px) 0 0 rem(10px);
    @include laptops {
      text-align: center;
      margin: 0 0;
    }
  }
}

.hero__desc {
  font-size: rem(65px);
  font-family: $lifehack;
  line-height: 1;
  color: #fff;
}

.hero__content-image {
  @include phones {
    text-align: center;
    img {
      width: 80%;
    }
  }
}