.team {
  background: url("../img/bg/team-bg.png") center (center / cover) no-repeat;
  display: flex;
  justify-content: flex-end;
}

.team__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: rem(70px) rem(100px);
  opacity: 0.93;
  background: #282828;
  width: 50%;
  position: absolute;
  @include laptops {
    padding: 0;
    padding-top: rem(100px);
    width: 100%;
    text-align: center;
  }
  @include phones {
    padding: rem(35px) rem(60px);
  }
}

.team__members {
  margin-top: rem(12px);
  text-align: left;
  @include laptops {
    text-align: center;
  }
}

.member__card {
  margin-top: 5px;
  color: #fff;
}

.member__name {
  display: inline-block;
  cursor: pointer;
  margin-left: 7px;
  margin-bottom: 25px;
  font-size: 1.7rem;
  @include phones {
    font-size: rem(16px);
    margin-bottom: 10px;
  }
}

.member__photo {
  background: url("../img/people/aphex.png") center (center / cover) no-repeat;
  height: 100px;
  width: 100px;
  flex: none;
  border-radius: 50%;
  margin-right: 6%;
  @include laptops {
    margin: 0;
  }
}

.member__details {
  display: flex;
  margin-left: 20px;
  height: 0;
  overflow: hidden;
  @include laptops {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.member__disc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: rem(16px);
  max-width: rem(210px);
  line-height: 1.6;
  margin-bottom: 20px;
  b {
    margin-bottom: 15px;
  }
}

.unscroll {
  .polygon {
    transform: rotate(180deg);
  }
  .member__details {
    height: 100%;
  }
  .member__name {
    color: $yellow;
  }
}