.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: $orange;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transition: .2s;
  border: none;
  &:hover {
    cursor: pointer;
  }
  @include phones {
    font-size: 8px;
  }
  &--bg-black {
    background: #2f3234;
    &:hover {
      background: #1f2122;
    }
  }
  &--bg-transparent {
    background: transparent;
    text-transform: none;
  }
  &--none-decor {
    border: none;
    background: transparent;
  }
  &--margin-left {
    margin-left: rem(15px);
  }
}







