* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

.wrapper {
  width: 85%;
  margin: 0 auto;
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative; }

.title {
  font-family: "Alegreya Sans", regular;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center; }

.subtitle {
  padding-top: 20px; }

ul > li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

.btn {
  font-size: 19px;
  font-weight: bolder;
  padding: 1em 2em;
  border-radius: 2em;
  text-transform: uppercase; }
  .btn:hover {
    box-shadow: 0 0 15px 0px black; }
  .btn-order {
    background: white;
    color: #0f5a47; }

button, input, textarea {
  outline: none; }

.posrel_bg {
  position: relative; }

.header-berries {
  position: absolute;
  right: 10%;
  bottom: -30px; }

.blueberries {
  position: absolute;
  right: 20px;
  top: 30px;
  z-index: 1; }

.strawberries {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.raspberry {
  position: absolute;
  bottom: 700px;
  left: 40px; }

.raspberries {
  position: absolute;
  bottom: 0px; }

.berries {
  background: url(../images/berries-imgs/berries.png) no-repeat;
  width: 155px;
  height: 220px;
  position: absolute;
  right: 20px; }

.blackberry {
  position: absolute;
  right: 0;
  bottom: -30px; }

.bg_about-us {
  position: absolute;
  background: url(../images/bg_about-us.png) no-repeat;
  width: 160px;
  height: 320px;
  top: 190px;
  z-index: -1; }

.bg_team {
  background: url(../images/bg_team-1.png) no-repeat;
  width: 180px;
  height: 560px;
  position: absolute;
  bottom: 250px;
  right: 0; }

.bg_our-work {
  position: absolute;
  bottom: -50px;
  background: url(../images/bg_our-work-section/pattern.png) no-repeat;
  background-size: cover;
  width: 130px;
  height: 370px; }

.header-leafs {
  background: url(../images/header-images/leafs.png);
  position: absolute;
  width: 1050px;
  height: 350px;
  right: 80px;
  bottom: -50px; }

.between {
  background: url(../images/bg_about-us/pattern_between.png) no-repeat;
  background-size: contain;
  position: absolute;
  right: 50%;
  top: 0px;
  width: 80px;
  height: 20px; }

.header {
  background: url(../images/header-images/bars.png) no-repeat 95% 60%, url(../images/header-images/pattern.png) no-repeat 100% 100%, url(../images/header-images/bg.png);
  background-size: auto, auto, auto;
  color: white;
  font-family: "Alegreya Sans", regular;
  box-sizing: border-box; }

.posfixed {
  position: fixed;
  top: 30%;
  right: 50px; }

.points {
  display: flex;
  flex-direction: column; }
  .points .point a:before {
    content: "";
    position: relative;
    left: 10.5px;
    top: 4.5px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent;
    border-radius: 50%;
    margin-top: 15px;
    border: 1px solid transparent; }
  .points .point:hover a:before {
    border-color: white; }
  .points .point a:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    margin-top: 15px; }

.header__nav {
  padding: 25px 0 100px;
  display: grid;
  grid-template-columns: auto 70% auto;
  align-items: center;
  white-space: nowrap; }
  .header__nav .logo {
    font-family: "Museo Sans Cyrl";
    font-weight: 500;
    font-size: 24px; }
  .header__nav .navigation ul {
    display: flex;
    justify-content: space-around; }
    .header__nav .navigation ul li {
      font-size: 18px; }
  .header__nav .contact {
    font-size: 24px;
    margin-left: 40px; }
    .header__nav .contact span {
      font-size: 16px; }

.order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  width: 50%;
  align-items: flex-start; }

.order__title {
  font-size: 60px;
  text-transform: uppercase; }

.order__disc {
  width: 70%;
  font-size: 21px;
  margin-bottom: 75px; }

.about-product {
  padding-bottom: 50px;
  display: flex;
  align-self: flex-start; }
  .about-product .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    font-size: 16px;
    z-index: 2; }
    .about-product .item p {
      align-self: flex-start;
      margin-left: 10px; }

.about-us {
  background: url(../images/bg_about-us/pattern.png) 0% 70% no-repeat;
  text-align: center;
  box-sizing: border-box; }
  .about-us p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; }
  .about-us__cards {
    padding: 40px 0 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .about-us__cards-card {
      padding: 2px;
      position: relative;
      top: 70px; }
      .about-us__cards-card:not(:last-of-type) {
        margin-right: 80px; }
    .about-us__cards__icon {
      background: #f2f5f4;
      display: inline-block;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-bottom: 25px; }
      .about-us__cards__icon img {
        position: relative;
        top: 20%; }
    .about-us__cards h3 {
      font-size: 27px;
      margin: 30px 0; }

.review__slider {
  margin-top: 50px;
  padding: 45px 175px 45px 35px;
  background: url(../images/slider-review/bg-slider.png) no-repeat;
  background-size: cover;
  display: flex; }

.content__reviewer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-left: 40px; }

.content__reviewer-title {
  font-size: 30px; }

.content__reviewer-text {
  font-size: 18px; }

.content__reviewer-name {
  font-size: 18px;
  font-weight: 600; }

.radio__btn {
  display: flex;
  justify-content: center;
  padding: 45px 0 90px 0; }
  .radio__btn .checkbox_thinker {
    display: none; }
  .radio__btn input[type="radio"]:checked + .avatar-thinker {
    box-shadow: 0 0 0 10px #0f5a47; }
  .radio__btn .avatar-thinker {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #cccccc;
    border: 10px solid transparent;
    margin: 0 20px; }
  .radio__btn .thinker-1 {
    background: url(../images/slider-review/slider-btn-radio/thinker1_nav-pan.png) 50% 30%; }
  .radio__btn .thinker-2 {
    background: url(../images/slider-review/slider-btn-radio/thinker2_nav-pan.png) 50% 20%; }
  .radio__btn .thinker-3 {
    background: url(../images/slider-review/slider-btn-radio/thinker3_nav-pan.png) 45% 35%; }
