body {
  font-size: 20px;
  font-family: $fonts;
  background: $bg_color;
  color: $text_color;
  text-shadow: 1px 1px rgba(0, 0, 0, .8)
}

a {
  color: $text_color;
  transition: .7s;
  &:hover {
  color: darkred;
  }
}

ul > li {
  margin: 20px;
  &:first-child, &:last-child {
  margin-left: 0;
  }
}